<!DOCTYPE html>
<html lang="en">
<head>
    <title>SVG Paint</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/svg.js/2.3.4/svg.min.js"></script>
</head>
<body>

<nav class="navbar navbar-default">
    <div class="container">
            <ul class="nav navbar-nav">
                <li>
                    <a href="#" data-toggle="dropdown">File...<span class="caret"></a></span>
                    <ul class="dropdown-menu">
                        <li><a href="#" id="menuLoad">load</a></li>
                        <li><a href="#" id="menuSave">save</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#"><span class="glyphicon glyphicon-user"></span> {{ current_user.username }}</a>
                </li>
                <li>
                    <a href="/logout"><span class="glyphicon glyphicon-log-out"></span></a>
                </li>
            </ul>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-lg-3">
            <table>
                <tr>
                    <td>File Name: </td>
                    <td><input type="text" max="50" id="drawingNameField" value="mydrawing"/></td>
                </tr>
                <tr>
                    <td>Brush Size: </td>
                    <td><input type="number" id="brushSizeField" value="10"/></td>
                </tr>
                <tr>
                    <td>Color: </td>
                    <td><input type="color" id="colorInput"</td>
                </tr>
                <tr>
                    <td>Shape: </td>
                    <td>
                        <select id="shapeSelect">
                            <option value="square" default>square</option>
                            <option value="circle">circle</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td><button id="wipeButton">Wipe</button></td>
                </tr>
            </table>

        </div>
        <div class="col-lg-9" id="drawingArea" style="border: 1px solid black;"></div>
    </div>
</div>

<script src="/static/app.js"></script>

</body>
</html>
